<h1>Bulk Index Page</h1>
<h4>Upcoming Holidays</h4>
<%= "#{@holidays.date1} -- #{@holidays.name1}" %><br>
<%= "#{@holidays.date2} -- #{@holidays.name2}" %><br>
<%= "#{@holidays.date3} -- #{@holidays.name3}" %><br>

<% @bulk_discount.each do |discount| %>
<div id="bulk discount-<%=discount.id%>" >
<p><%= link_to discount.name, merchant_bulk_discount_path(@merchant, discount) %></p>
<p>Percentage off: <%= discount.percentage %>%</p>
<p>Quantity Threshold: <%= discount.quantity_threshold %></p>
<%= link_to "Edit Discount #{discount.id}", edit_merchant_bulk_discount_path(@merchant, discount) %>
<%= link_to "Delete Discount #{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete %><br><br>
</div>
<% end %>
<p><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant)%><p>